body {
    background: #6589F9;
}

.timerText{
    text-align: center;
}

.disabled-game {
    pointer-events: none;
    opacity: 0.4;
}

#game {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    background: rgb(80, 125, 248);
}

#popup{
    align-items: center;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9996;
    background: rgba(0, 0, 0, 0.5);
}
#container {
    background: #6589F9;
    width: 40%;
    height: 400px;
    opacity: 1;
    padding: 30px 40px;
    align-items: center;
}
#replay-button{
    margin-left: 300px;
    margin-top: 200px;
    height: 50px;
    background-color: #84c4ff;
    text-align: center;
    padding: 10px 20px;
}
.menuButton {
    display: block;
    width: 150px;
    height: 50px;
    color: rgb(231, 90, 16);
    background-color: rgb(255, 165, 66);
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
}
.container{
    margin: 50px 200px;
}

.container input{
    display: inline;
}

.questions-container{
    width: 100%;
    height: 100%;
}

#config{
    display: none;
}

#oqContainer{
    display: none;
}